
body{
	background-color: lightblue;

}
th{
	font-size: 18px;
}
h1{
	text-align: center;
	padding-top: 30px;

}

th, td, table{
	border:1px solid darkblue;
	border-collapse: collapse;
	padding: 20px 40px 5px 8px;
	text-align:left;
}
.table{
	width:500px;
	margin:auto;
}
